<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="rkWeb" value="https://www.rkdevelops.com"/>
    <!--Time in milliseconds to AutoClose the Website-->
    <add key="closeAppTime" value="600000"/>
    <!--Give your local Path here to Save Screenshot-->
    <add key="Screenshot" value="R:\"/>
  </appSettings>
</configuration>